* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --textcolor: #787878;
  --maincolor: #08a9a3;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
/* title */
.title {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.title h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 800;
}
.title p {
  color: var(--textcolor);
}
/* btnLink */
.btnLink {
  display: inline-block;
  background-color: var(--maincolor);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 5px;
  transition: all 0.5s;
}
.btnLink:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 1px #000;
}
/* header */
header {
  padding: 30px 0;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_content .nav {
  animation: nav 0.5s;
}
@keyframes nav {
  from {
    top: -50px;
    transform: scale(0);
  }
  to {
  }
}
.header_content .nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
  margin-left: 30px;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s;
}
.header_content .nav a:hover {
  color: var(--maincolor);
  transform: scale(1.3);
}
.header_content button {
  background-color: var(--maincolor);
  font-size: 30px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: none;
}
.header_content button .fa-xmark {
  display: none;
}
/* footer */
footer {
  padding: 50px 0;
  background-color: #000;
}
footer .row {
  color: #aaa;
  display: flex;
  flex-wrap: wrap;
}
footer .row h4 {
  color: #fff;
  margin-bottom: 20px;
}
footer .row a {
  display: block;
  text-decoration: none;
  color: #aaa;
  margin-bottom: 5px;
}
footer .row a:hover {
  color: var(--maincolor);
}
footer .row .col1 {
  width: 35%;
}
footer .row .col2 {
  width: 25%;
}
footer .row .col3 {
  width: 10%;
}
footer .row .col4 {
  width: 20%;
}
footer .row .col5 {
  width: 10%;
}
