* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --font1: "Montserrat", sans-serif;
}

.header {
  height: 70px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  font-family: var(--font1);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.header ul li a:hover {
  color: #10c9c3;
}

.contact {
  padding: 5% 10%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.contact .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: #8d8d8d;
}

.contact .text p:first-child {
  font-family: var(--font1);
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.contact .text p {
  margin-bottom: 20px;
}

.contact .text b {
  color: #000;
}

.contact .form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact .form .form1 {
  display: flex;
  justify-content: space-between;
}

.contact .form .form1 input {
  width: 45%;
}

.contact .form input {
  height: 50px;
  width: 100%;
  font-size: 18px;
  text-indent: 30px;
  border: none;
  margin-bottom: 30px;
}

.contact .form textarea {
  height: 150px;
  width: 100%;
  font-size: 18px;
  text-indent: 30px;
  resize: none;
  border: none;
  margin-bottom: 20px;
}

.contact .form a {
  background-color: #10c9c3;
  width: 200px;
  line-height: 50px;
  font-family: var(--font1);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: 1s;
}

.contact .form a:hover {
  color: #a70808;
  letter-spacing: 2px;
}

.map {
  background-color: #eeeeee;
  height: 700px;
  padding: 0 10% 5%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.footer {
  height: 250px;
  padding: 0 10%;
  background-color: #141414;
  color: #bcbcbc;
  display: flex;
  align-items: center;
}

.footer div {
  height: 40%;
}

.footer .footer1 {
  flex: 5;
}

.footer .footer1 h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .footer2 {
  flex: 3;
}

.footer .footer3 {
  flex: 1;
}

.footer .footer4 {
  flex: 2;
}

.footer .footer5 {
  flex: 1;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #bcbcbc;
}

.footer a:hover {
  color: #10c9c3;
}